body{
    font-size: 1.3rem;
}
.full-width{
    min-width: 100%;
}

hr{
    margin: 50px;
}

.main.container{
    margin-top: 7em;
}

.justified-text {
    text-align: justify;
    text-justify: inter-word;
}
